.banner-details{
    width: 45rem;
    padding-top: 25%;
    padding-left: 5%;

}
.banner-details h3{
    margin-top: 25px;
    font-size: larger;
}

.banner-details h1{
    font-weight:700 ;
    font-size: 50px;

}