.row{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}


.movie-row{
    display: flex;
    margin-top: 20px;
    overflow: scroll;
}

.movie{
    width: 100%;
    height: 200px;
    margin-right: 18px;
    transition: 500ms;
}
.movie:hover{
    transform: scale(1.075);
}

.movie-poster{
    height: 350px;
}

::-webkit-scrollbar{  /* pseudo class to desighn thw scrool bar */
    display: none;
}